# Created by .ignore support plugin (hsz.mobi)
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.idea
pids
logs
results
buildingMaintenanceApp.iml
npm-debug.log
node_modules
bower_components
lib
MEAN-FileUpload.iml
.iml
.vcs
